.container{
    height: 300px;
}
.buttons{
    top:12%;        
}
.p-content{
    font-size: calc(100% - 2px);
    height:70px
}
@media(max-width:600px){
    .container{
        width: calc(100vw - 30px);
        height: calc(100vh - 30px);
    }
    .p-content{
        width: 80%;
        min-height: 5%;
        height: 20%;
        max-height: 100%;
    }
    .p-exp{
        font-size:27px;
    }
    .input-block{
        width: 100%;
        top: 4%;
        display: flex;
        flex-direction: column;
    }
    .input-group{
        width: 100%;
    }
    .input{
        width: 80%;
    }
    .buttons{
        top:0%;
        top:4%;
    }
}
